<?php
return array(
		'acl' => array(
				'roles' => array(
						'visitante'   => null,
						'redator'  => 'visitante',
						'admin' => 'redator'
				),
				'resources' => array(
						'Application\Controller\Index.index',
						'Application\Controller\Index.login',
						'Admin\Controller\Index.save',
						'Admin\Controller\Index.delete',
						'Admin\Controller\Auth.index',
						'Admin\Controller\Auth.login',
						'Admin\Controller\Auth.logout',
				),
				'privilege' => array(
						'visitante' => array(
								'allow' => array(
										'Application\Controller\Index.index',
										'Application\Controller\Index.login',
										'Admin\Controller\Auth.index',
										'Admin\Controller\Auth.login',
										'Admin\Controller\Auth.logout',
								)
						),
						'redator' => array(
								'allow' => array(
										'Admin\Controller\Index.save',
								)
						),
						'admin' => array(
								'allow' => array(
										'Admin\Controller\Index.delete',
								)
						),
				)
		)
);